/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-weight);

  background-image:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, rgb(211 211 211 / 0) 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  margin-block: 100px 94px;
  padding-block: 8.125rem;

  font-family: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
}

.block {
  max-inline-size: 700px;
  margin-inline: auto;

  background-color: var(--block-bg-color);
  color: var(--block-color);
  border: var(--block-border);
}

.header__logo {
  margin-block-end: 1.25rem;
  font-size: 4.0625rem;
}

.header__title {
  font-size: 1.4375rem;
  font-variation-settings: 'wght' var(--accent-font-weight);
}

.main {
  margin-block-end: 100px;
}

.card {
  margin-block-end: 50px;
}

.card__title {
  padding: 4px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--main-font-heading-weight);
}

.card__image-wrapper {
  position: relative;
}

.card__label {
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;

  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  text-transform: uppercase;

  text-shadow:
    -1px 0 var(--text-stroke-color),
    0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color),
    0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.card__image {
  display: block;
  width: 100%;
}

.card__content {
  padding: 25px;
}

.card__text-content,
.card__text-content p:not(:last-child) {
  margin-block-end: 25px;
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
}

.button {
  border-radius: 0;

  font-family: var(--accent-font);
  font-size: var(--accent-font-size);

  background-color: var(--block-bg-color);
  color: inherit;
  border: var(--block-border);
}

.card__icon-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: currentColor;
}

.like-icon {
  display: block;
}

.card__like-button {
  min-inline-size: 130px;
  padding-block: 11px;
}

.save-button {
  display: flex;
  align-items: center;
  gap: 8px;
  max-inline-size: 335px;
  margin-inline: auto;
  padding: 15px 18px;
}

.save-button__icon {
  inline-size: 28px;
  block-size: 28px;
}

.dialog[open] {
  display: grid;
  grid-template-columns: 39px 1fr;
  place-items: center;
  gap: 28px 20px;
  padding: 28px;
  max-inline-size: 353px;

  font-family: var(--accent-font);
  font-size: var(--accent-font-size);
  line-height: 1.5;
  text-transform: uppercase;

  border: var(--block-border);
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__ok-button {
  grid-column: 1 / -1;
  place-self: stretch;
  text-transform: uppercase;
  padding-block: 0.75rem;
}

@media (width <= 375px) {
  .header {
    margin-block-end: 100px;
    padding-block: 120px;
  }

  .header__logo {
    font-size: 49px;
  }

  .header__title {
    font-size: 14px;
  }

  .card__title {
    line-height: 1.25;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog[open] {
    padding: 30px 40px;
  }
}
